<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CAS.Properties.Settings.connStrCAS" connectionString="server=202.148.12.154;user id=root;database=cas_1904"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Server" value="202.148.12.154" />
    <add key="Password" value="UdomMJuJCmtyNnM04THsSA==" />
    <add key="Server2" value="202.148.12.154" />
    <add key="Password2" value="UdomMJuJCmtyNnM04THsSA==" />
    <add key="Database" value="cas_1904" />
    <add key="Database2" value="tpbdb" />
    <add key="Title" value="BARAMUDA BAHARI" />
    <add key="Skin" value="Glass Oceans" />
    <add key="View" value="SkinNav:Caramel" />
    <add key="MtpJasa" value="9" />
    <add key="LanguageID" value="id" />
    <add key="DateFormat" value="dd/MM/yyyy" />
    <add key="WindowsMode" value="Tab" />
    <add key="CompanyName" value="PT BARAMUDA BAHARI" />
    <add key="CompanyAddr" value="Desa Wonokoyo, Kecamatan Beji, Pasuruan, 67154, Indonesia" />
    <add key="CompanyContact" value="TELP: +62-343-656513 / 656466, FAX : +62-343-656195" />
    <add key="CompanyNPWP" value="01.718.590.1-651.000" />
    <add key="CompanyPKP" value="01.718.590.1-651.000" />
    <add key="CompanyTglPKP" value="10 April 2007" />
    <add key="SeriFakturPajak" value="010.000-" />
    <add key="KabagAcc" value=" " />
    <add key="MinPORelease" value="5000000" />
  </appSettings>
</configuration>
